/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/* --------------------- reset css --------------------- */

:root {
    /* 1 rem = 10px */
    font-size: 62.5%;
    /* font-size: 50%; */
}

body {
    width: 99.1vw;
    /* height: 99.5vh; */
}

body,
[type=submit] {
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

* {
    -webkit-box-sizing: border-box;
    margin: 0;
    box-sizing: border-box;
    /* outline: none */
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6)
}

figure {
    margin: 0;
}

img {
    width: 100%;
    /* max-height: 150px; */
}

h3 {
    font-weight: normal;
    text-transform: uppercase;
}

/* ------------------ global wrapper ------------------ */

#global-wrapper {
    width: 100%;
    height: 100%;
}

/* --------- nav --------- */
.header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 5rem;
    min-height: 5rem;
    background-color: #000000;
}

h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.header-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

h1 a,
ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    height: 5rem;
    width: 10rem;
}

h1 a {
    width: 20rem;
}

nav ul li a:hover {

    background-color: green;
}

.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 5%;
    height: 100%;
    background-color: green;
}

/* ------------------ global-content ------------------ */

.global-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100rem;
    background-color: royalblue;
}

/* subcontent */
.sub-content {
    width: 15%;
    height: 100%;
    background-color: brown;
}

/* main-content */
.main-content {
    position: relative;
    width: 85%;
    height: 100%;
    background-color: burlywood;
}

#search-nav {
    display: none;
    position: absolute;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    padding-right: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    background-color: green;
    height: 7rem;
}

#search-nav [type=text] {
    width: 50rem;
    padding-left: 1rem;
    height: 3rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.4);

}

.banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40rem;
    background-color: #000000;
    color: white;
}

.banner a {
    color: #ffffff;
}

.banner a:hover {
    color: green;
}

.img-banner {
    width: 33.33%;
    overflow: hidden;
}

figure {
    overflow: hidden;
    height: 60%;
}

.h4-banner,
.h3-banner {
    padding-top: 1.5rem;
    padding-left: 0.5rem;
}

.h3-banner {
    font-weight: normal;
    font-size: 1.4rem;
}

/* ------------------ global footer ------------------ */

.global-footer {
    width: 100%;
    height: 5%;
    background-color: greenyellow;
}
